[Desktop Entry]
Name=Color Picker
Comment=Extraer Colores
Icon=/home/username/Color-Picker/color-picker.png
Exec=python3 /home/username/Color-Picker/colorpicker.pyw
Categories=System Tools; #se puede omitir esta linea
Terminal=false #true si es de terminal
Type=Application










